<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-Post</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="page">
        <h1>Add New Post</h1>
        <form action="/posts/create" method="POST">
            <input type="text" name="title" id="title" placeholder="Tiitle" autocomplete="off" required>
            <input type="text" name="content" id="content" placeholder="Content" autocomplete="off" required>
            <button>Submit</button>
        </form>
    </div>
</body>

</html>